src/*.exe
src/tomorrowcoin
src/tomorrowcoind
src/test_tomorrowcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.tomorrowcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
tomorrowcoin-qt
TomorrowCoin-Qt.app

# Unit-tests
Makefile.test
tomorrowcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
